@using MauiBlazorKendo.Data
<div class=" px-4 row">
    <div class="d-flex col text-align-start">
        İmza Tarihi
    </div>
    <div class="col d-flex text-align-start">
        İmza
    </div>


</div>

<div class="px-4 row">
    <div class="col">
        <Time />
    </div>
    <div class="col">
        <SignaturePad />
    </div>


</div>

