@using MauiBlazorKendo.Data
<div class="py-4 px-4 row">
    <div class="col-6">
        <Time />
        <Inspector />
    </div>
    <div class="col-6">
        <Explanation />
        <Machine />
    </div>

</div>


