@inherits LayoutComponentBase

<TelerikRootComponent>
    <div class="main-layout">
        <div class="header">
            <Header></Header>
        </div>
        <div class="body">
            <div class="scrollable-content">
                @Body
            </div>
        </div>
        <div class="footer"><Footer /></div>
    </div>
</TelerikRootComponent>